@import './styles.scss';

.contact{
    // font-weight: 900;
    // border: 2px dashed fuchsia;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet{
        // display: flex;
        align-items: center;
    }

    &__usPage{
        padding: 1.2rem;
        @include desktop{
            width:70%;

        }
    }

    &__usPageImage{
        display: none;
        @include tablet{
            display: none;
            background-image: url("https://images.unsplash.com/photo-1574290858791-db9b8b95c819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 20rem;
            height: 20rem;
            // border:9px dashed rgb(156, 143, 27);
            border-radius: 5px;
        }
    }

    &__form{
        // border: 1px dotted yellowgreen;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: flex-start;
        width: 18rem;
        height: 15rem;
        margin: 0.8rem;

       
        @include tablet{
            // display: flex;
            // align-items: center;
            // align-self: center;
            padding: 0rem;
            float: right;
            margin-top: 0rem;
        }
    }
    &__nameContainer{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }
    &__nameInput{
        margin-top: 0.1rem;
        width: 17rem;
        padding: 0.5rem;
        @include tablet{
            padding: 0.8rem;
            width: 18rem;
        }
    }

    &__emailContainer{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        margin-top: 0.5rem;
    }
    &__emailInput{
        margin-top: 0.1rem;
        width: 17rem;
        padding: 0.5rem;
        @include tablet{
            padding: 0.8rem;
            width: 18rem;
        }
    }

    &__messageContainer{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        margin-top: 0.5rem;
    }

    &__messageLabel{
        margin-top: 0rem;
        padding: 0rem;
    }

    &__messageInput{
        margin-top: 0.1rem;
        width: 17rem;
        padding: 0.5rem;
        
        @include tablet{
            padding: 0.8rem;
            width: 18rem;
        }
    }

    &__submitButton{
        border: 1px solid black;
        border-radius: 5px;
        width: 18rem;
        padding: 0.5rem;
        margin: 0.5rem 0rem 0rem 0rem;
        
        padding: 0.3rem;
        @include tablet{
            width: 19.9rem;
            padding: 0.8rem;
        }
    }
}
